#4/11
###流程控制
if else , elif

In [ ]:
a=eval(input("請輸入數字a:"))
b=eval(input("請輸入數字b:"))
if a>b:
  print("a>b")
elif a==b:
  print("a=b")
else:
  print("b>a")

請輸入數字a:8
請輸入數字b:3
a>b

In [ ]:
grade=87
print("成績評鑑:")
if grade>=90:
  print("優等")
elif grade>=80:
  print("甲等")
elif grade>=70:
  print("乙等")
elif grade>=60:
  print("丙等")
else:
  print("不及格")

成績評鑑:
甲等

for迴圈

In [ ]:
for i in range(10):  #range(10):0,1，2，...9
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(0,10,1): #range(0開始，9結束(不包含10)，每次進1步)
  print(i)

0
1
2
3
4
5
6
7
8
9

求1+2+3+...10的總和

In [ ]:
sum=0
for count in range(1,11,1):  
  sum+=count
print(sum)

55

In [ ]:
for c in "I am a boy":
  print(c)

I

a
m

a

b
o
y

In [ ]:
for score in [90,100,88,77]:
  print(score)

90
100
88
77

In [ ]:
for s in ["john","mary","tom","simpson"]:
  print(s)

john
mary
tom
simpson

雞兔同籠，若共有35個頭，94隻腳，請問有幾隻雞?幾隻兔?

In [ ]:
for chicken in range(0,36):
  rabbit=35-chicken
  if(2*chicken+4*rabbit) == 94:
    print("雞有",chicken,"隻,兔子有",rabbit,"隻")
    break
else:
  print("無解")

雞有 23 隻,兔子有 12 隻

while迴圈

In [ ]:
sum=0
count=1
while count <=10:
    sum+=count
    count+=1
print("1+2+3+...+10=",sum)

1+2+3+...+10= 55